.title {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1.3;
    color: #4078C0;
}

.markdown-body {
    min-width: 200px;
    max-width: 920px;
    margin: 0 auto;
    padding: 30px;
}

note::before,ko::before {
    content: "Note: ";
    font-style: normal;
}

why::before, unknown:before {
    content: "Why: ";
    font-style: normal;
}

ko::before, unknown:before {
    color: red;
}

note, ko, why, unknown {
    font-style: italic;
    display: block;
    color: grey;
}

#req-TOC {
    display: block;
    float: left;
    height: 100%;
    padding: 5px;

    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

nav>ul {
    list-style: none;
    padding-left: 0;
}
